body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: "Montserrat";
    margin: 0;
    height:100%;
}

h1{
    font-weight: 900;
}

a:hover{
    color: grey;
}


/* Navbar */
.navbar {
    background:#8F001A;
    border-radius: 0%;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 1%;
}
.nav-link {
    margin-right: 5em !important;
}
.nav-link:hover {
    color: grey;
}
.navbar-collapse {
    justify-content: center;
    
}

.navBooknowBtn{
    border-radius: 20em;
    background-color: white;
    margin-right: 1%;

}

/* Landing page */

.header {
    background-image: url("img/Uottawa.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}

.description {
	left: 50%;
	position: relative;
	top: 45%;
    padding-top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: white;
    font-weight: 900;
    padding-left: 10%;
    padding-right: 10%;
}


.description button {
    border-radius: 20em;
    background-color: white;
    
    color:gray;
    
}
.description button:hover {

    background:gray;
    color:white;
}

/* Our team */
.ourteam h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}

.ourteam .card{
    display:inline-block;
    margin-right: 4%;
    margin-left: 4%;
    background-color: #F2F2F2;
    border-radius: 0.5em;
    border-width: 0;
}

.ourteam .card h5{
    color: #8F001A;
    font-weight: bold;
}

.ourteam .card h6{
    font-weight: bold;
}

.ourteam .card a{
    text-align: center;
    background-color: #8F001A;
    border-width: 0;
    border-radius: 20em;
}

.card-deck{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
     
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

/* pricing */

.pricing h1{
    text-align: center;
    
    padding-bottom: 2%;
    font-weight: bold;
}
.pricing{
    padding-top: 2%;
    padding-bottom:10%;
}

.pricing h5{
    text-align: center;
    font-weight: bold;
}

.pricing img{
    text-align: center;
    margin: auto;
    display: block;
    padding-top: 7%;
}

.pricing .card{
    margin: auto;
    display: block;
    width: 26rem;
}

.pricing .list-group-item{
    line-height: 20px;
}

.service{
    padding-top: 5%;
}
.service-subtitle{
    text-align: center;
    color: gray;
}

.l{
    font-weight: bold;
}

.pricing button{
    border-radius: 0%;
    display: block;
    width: 100%;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    
    
}

.pricing button:hover{
    color: white;
    background-color: grey;
    border-color: grey;
}

.pricing-btn{
    padding: 3%;
}



/* About us */

.headerimg h1 {
    margin-top: 0px;
  }

.headerimg {
    height: 60px;
    margin-top: 0px;
    background-size: cover;
    background-image: url(img/photgrapher.jpg);
}

.aboutus .col-md-6{
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 5%;
}

.aboutus h3 {
    font-weight: 900;
}

.aboutus h4{
    padding-bottom: 2%;
}

.callus {
    padding-top: 4%;
}

.location{
    padding-top: 5%;
}

.businesshours{
    padding-top: 5%;
}
.aboutus #rightside{
    line-height: 7px;
}

.icons{
    margin: 2.5%;
}


/* Book now form*/

.booknow h1{
    text-align: center;
    padding-top: 2%;
    
    font-weight: bold;
}

#row1-leftside {
    padding-left: -25%;
    padding-right: 5%;
}
#row1-rightside {
    padding-left: 5%;
    
}

#row3-leftside {
    padding-left: -25%;
}
#row3-rightside {
    padding-left: 5%;
    
}

.booknow .row{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
}


.booknow .btn-container{
    text-align: center;
    padding-top: 3%;
}

.booknow button{
    background-color: #8F001A;
    border-color: #8F001A;
}

.booknow button:hover{
    background-color: grey;
    color: white;
    border-color: grey;
}