body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: "Montserrat";
}

/* Navbar */
.navbar {
    background:#8F001A;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 1%;
}
.nav-link {
    margin-right: 5em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: center;
    
}

.navBooknowBtn{
    border-radius: 20em;
    background-color: white;
    margin-right: 1%;

}

/* Landing page */

.header {
    background-image: url("img/Uottawa.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}

.description {
	left: 50%;
	position: relative;
	top: 45%;
    padding-top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: white;
    font-weight: 900;
    padding-left: 10%;
    padding-right: 10%;
}


.description button {
    border-radius: 20em;
    background-color: white;
    border:1px solid rgb(200, 28, 28);
    color:#000;
    
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}


.ourteam h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}

.card{
    display:inline-block;
    margin-right: 4%;
    margin-left: 4%;
    background-color: #F2F2F2;
    border-radius: 0.5em;
    border-width: 0;
}

.card h5{
    color: #8F001A;
    font-weight: bold;
}

.card h6{
    font-weight: bold;
}

.card a{
    text-align: center;
    background-color: #8F001A;
    border-width: 0;
    border-radius: 20em;
}

.card-deck{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
     
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.headerimg h1 {
    margin-top: 0px;
  }

.headerimg {
    height: 60px;
    margin-top: 0px;
    background-size: cover;
    background-image: url(img/photgrapher.jpg);
}

.aboutus .col-md-4{
    padding-left: 5%;
    padding-top: 7%;
}

.aboutus .col-md-8{
    padding-left: 25%;  
    padding-top: 8%;  
}

.form .row{
    padding-left: 10%;
}